---
layout: page
page_w: home
lang: en
title: mlibre personal blog
paginate:
    collection: Posts_en
    per_page: 7
    limit: false
    permalink:  /page-:num/
---
{% for post in paginator.Posts_en %}
    <div id="Post" class="Post text_good_2">
        <article class="Article">
            {% if post.image_name %}
            <a style="text-decoration: none !important;" href="{{ site.baseurl | append: post.url}}">
                <div class="post_image" style="background-position: 100% 100%; background-image:url({{site.url | append: site.baseurl | append: '/files/post_files/' | append: post.image_name}})">
                    <span class="title_on_image"> {{ post.post_name }} </span>
                </div>
                <div id="date" class="date">
                    {{post.date | date: '%d %B %Y'}}
                </div>
            </a>
            <br>
            <p></p>
            {% endif %}
            {% if post.image_name == nil %}
            <a id="post_link" class="post_link" href="{{ site.baseurl | append: post.url }}">{{ post.post_name | escape }}</a>
            {% endif %}
            {% if post.image_name == nil %}
                <br>
                <br>
                {% if post.long_name==true %}
                <br>
                {% endif %}
            {% endif %}
            {{ post.excerpt }}
            <a id="read_more" href="{{ site.baseurl | append: post.url }}">Read More</a>
            <p></p>
            <span class="tags">Tags</span>
            {% for tag in post.tags %}
            <a class="tag" href="#">{{tag}}</a>
            {% endfor %}
        </article>
    </div>
{% endfor %}
<div class="paginator">
    <div class="paginator_container">
        <ul>
            {% if paginator.previous_page == 1 %}
                <li><a id="previous_page" class="change_page" href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/index.html'}}">Previous Page</a></li>
            {% else %}
                <li><a id="previous_page" class="change_page" href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/page-' | append: paginator.previous_page | append: '/'}}">Previous Page</a></li>
            {% endif %}
            {% for i in (1..paginator.total_pages)%}
                {% if i == paginator.page %}
                    {% if i == 1 %}
                        <li><a class="current_page" href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/index.html'}}">
                            {{i}}
                        </a></li>
                    {% else %}
                        <li><a class="current_page" href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/page-' | append: i | append: '/'}}">
                            {{i}}
                        </a></li>
                    {% endif %}
                {% else %}
                    {% if i == 1 %}
                        <li><a class="page" href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/index.html'}}">
                            {{i}}
                        </a></li>
                    {% else %}
                        <li><a class="page" href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/page-' | append: i | append: '/'}}">
                            {{i}}
                        </a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li><a id="next_page" class="change_page" href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/page-' | append: paginator.next_page | append: '/'}}">Next Page</a></li>
        </ul>
    </div>
</div>
