# Visual C++ Projects

*.vs
*.txt
*.db
*.opendb
Qlearning/Debug/
Qlearning/ipch/
Qlearning/Qlearning/Debug/
_site/
_posts/
*.lock
*.svg

NArmedBandit/Debug/
NArmedBandit/ipch/
NArmedBandit/NArmedBandit/Debug/

MountainCar/Debug/
MountainCar/ipch/
MountainCar/MountainCar/Debug/

# Visual C# Projects

*.exe
*.obj
*.cache
*.csproj.user
.vs/*
*.nupkg

*.suo
WindyGridWorld/WindyGridWorld.GUI/bin/*
WindyGridWorld/WindyGridWorld.GUI/obj/*
WindyGridWorld/Debug/*
WindyGridWorld/WindyGridWorld.CLI/Debug/*
WindyGridWorld/WindyGridWorld.RL/Debug/*
WindyGridWorld/UnitTestForWPF/obj/*

# Python projects:
*.pyc
*.swp
