# Visual C++ Projects

*.vs
*.txt
*.db
*.opendb

_site/
_posts/
*.lock
*.svg
*.json

BasicExamples/CppSources/VS2015/Qlearning/Debug/*
BasicExamples/CppSources/VS2015/Qlearning/ipch/*
BasicExamples/CppSources/VS2015/Qlearning/Qlearning/Debug/*

BasicExamples/CppSources/VS2015/NArmedBandit/Debug/*
BasicExamples/CppSources/VS2015/NArmedBandit/ipch/*
BasicExamples/CppSources/VS2015/NArmedBandit/NArmedBandit/Debug/*

BasicExamples/CppSources/VS2015/MountainCar/Debug/*
BasicExamples/CppSources/VS2015/MountainCar/ipch/*
BasicExamples/CppSources/VS2015/MountainCar/MountainCar/Debug/*

BasicExamples/CppSources/DLL/ContainerProject/x64/*
BasicExamples/CppSources/DLL/ContainerProject/ipch/*
BasicExamples/CppSources/DLL/ContainerProject/ContainerProject/x64/*
BasicExamples/CppSources/DLL/ContainerProject/Debug/*
BasicExamples/CppSources/DLL/ContainerProject/ipch/*
BasicExamples/CppSources/DLL/ContainerProject/ContainerProject/Debug/*

BasicExamples/PySources/.ipynb_checkpoints/*
QRiteration/.ipynb_checkpoints/*
MCTS/.ipynb_checkpoints/*

*.dll

# Visual C# Projects

*.exe
*.obj
*.cache
*.csproj.user
.vs/*
*.nupkg
*.suo

WindyGridWorld/WindyGridWorld.GUI/bin/*
WindyGridWorld/WindyGridWorld.GUI/obj/*
WindyGridWorld/Debug/*
WindyGridWorld/WindyGridWorld.CLI/Debug/*
WindyGridWorld/WindyGridWorld.RL/Debug/*
WindyGridWorld/UnitTestForWPF/obj/*

NNSharp/NNSharp/bin/*
NNSharp/NNSharp/obj/*
NNSharp/TestResults/*
NNSharp/TestResults/*
NNSharp/UnitTests/bin/*
NNSharp/UnitTests/obj/*
NNSharp/Debug/*
NNSharp/Release/*
NNSharp/packages/*

# Python projects:
*.pyc
*.swp
*.hdf5
*.mp4
*.jpg
*.jpeg
*.png
*.log
*.tar.gz
.idea/
