---
---
 <!doctype html>
<html>
<head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta name="author" content="mlibre">
    <meta name="email" content="m.gh@linuxmail.org">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{site.favicon}}">
    <link rel="stylesheet" href="{{site.baseurl}}/files/css/theme.css">
    <link rel="stylesheet" href="{{site.baseurl}}/files/css/font.css">
    <link rel="stylesheet" href="{{site.baseurl}}/files/css/beautifier.css">
    <link rel="stylesheet" href="{{site.baseurl}}/files/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/files/css/font-awesome/css/font-awesome.min.css">
    {%seo title=false%}
</head>

<body class="text_good_2">
    <div id="blog_header">
        <nav class="top_nav_bar">
            <ul>
                <li><a href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/index.html'}}" class="{% if page.page_w == 'home' %}active_tab{% endif %}">
                    <span class="fa fa-home"></span> Home
                </a></li>
                <li><a href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/posts/index.html'}}">
                    <span class="fa fa-home"></span> All Posts
                </a></li>
                <li><a href="/about/index.html">
                    <span class="fa fa-home"></span> Posts Categoryies
                </a></li>
                <li style="float: right !important"><a href="{{site.url | append: site.baseurl | append: '/' | append: page.lang | append: '/about/index.html'}}" class="{% if page.page_w == 'me' %}active_tab{% endif %}">
                    <span class="fa fa-user"></span> About Me
                </a></li>
                <li style="float: right !important"><a href="/about/index.html">
                    <span class="fa fa-home"></span> Advance Search
                </a></li>
                <li style="float: right !important"><span id="search_bar">
                    <span class="fa fa-search"></span>&nbsp&nbsp<input id="search_bar_input" type="text">
                </span></li>
            </ul>
        </nav>
    </div>
    <div id="body_container">
        <div class="main_side_container">
        {{content}}
        </div>
        <aside class="sidebar">
            <section class="sidebar_about_me">
                <img id="my_image"src="{{site.baseurl}}/{{site.my_images_path}}3.jpg">
                <div>
                    <p id="note">
                        The worst of people is the one that people respect out of fear for any harm.
                    </p>
                </div>
            </section>
            <span class="dashed"></span>
            <section class="sidebar_latest_post text_good_2">Latest Posts
                <p></p>
            {% for post in site.Posts_en reversed %}
                {% if forloop.index <= 5 %}
                <div class="latest_post_container">
                    <a class="latest_post" href="{{ site.baseurl | append: post.url}}">
                        {{ post.post_name | escape }}
                    </a>
                    <span class="latest_post_date">{{post.date | date: '%d %B %Y'}}</span>
                </div>
                {% endif %}
            {% endfor %}
            </section>
            <span class="dashed"></span>
            <section class="sidebar_tags">Tags
                <br>
                {% for post in site.Posts_en %}
                {% assign tags = tags | append: post.tags | remove: '[' | remove: ']' | remove: ','| remove: ' ' %}
                {% endfor %}
                {% assign tags = tags | replace: '""' , '#' | remove: '"' | split: '#' | uniq | join: ' ' | split: ' ' %}
                {% for tag in tags %}
                <a class="tag">{{tag}}</a>
                {% endfor %}
            </section>
        </aside>
    </div>
    <div class="spacer"></div>
    <footer class="footer">
        <span id="license">
            All contents of this website and also website itself mainly has no license.
            See&nbsp<a href="{{site.url}}/{{site.baseurl}}/{{page.lang}}/license"r>license</a>&nbsppage for more information about exceptions.
        </span>
        <span id="social">
            <a href="https://github.com/mlibre" id="github_icon">
                <span class="fa-stack fa-lg">
                    <span class="fa fa-circle fa-stack-2x"></span>
                    <span class="fa fa-github fa-stack-1x fa-invers" style="color: white"></span>
                </span>
            </a>
        </span>
        <ul id="links">
            <li>Links</li>
            <span class="links_dashed"></span>

            <li style="margin-top:10%"><a href="http://mlibre.github.io/">Personal Page</a></li>
            <li><a href="https://github.com/mlibre">Github Page</a></li>
        </span>
    <footer>
</body>
</html>
