---
layout: page
---
<div id="Post" class="Post text_good_2">
    <article class="Article">
        {% if page.image_name %}
        <a style="text-decoration: none !important;" href="{{ site.baseurl | append: page.url}}">
            <div class="post_image" style="background-position: 100% 100%; background-image:url({{site.url | append: site.baseurl | append: '/files/post_files/' | append: page.image_name}})">
                <span class="title_on_image"> {{ page.post_name }} </span>
            </div>
            <div id="date" class="date">
                {{page.date | date: '%d %B %Y'}}
            </div>
        </a>
        <br>
        <p></p>
        {% endif %}
        {% if page.image_name == nil %}
        <a id="post_link" class="post_link" href="{{ site.baseurl | append: page.url }}">{{ page.post_name }}</a>
        {% endif %}
        {% if page.image_name == nil %}
            <br>
            <br>
            {% if page.long_name==true %}
            <br>
            {% endif %}
        {% endif %}
        {{ content }}
        <p></p>
        <span class="tags">Tags</span>
        {% for tag in page.tags %}
        <a class="tag" href="#">{{tag}}</a>
        {% endfor %}
    </article>
</div>
